@font-face {
  font-family: "Arial Rounded MT";
  src: url("../src/fonts/ArialRoundedMTBold.woff2") format("woff2"),
    url("../src/fonts/ArialRoundedMTBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial Rounded MT";
  src: url("../src/fonts/ArialRoundedMTBold.woff2") format("woff2"),
    url("../src/fonts/ArialRoundedMTBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Arial Rounded MT", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
